* {
  border: dashed 1px rgb(255, 0, 0);
}


h1, h2, h3, h4, h5, h6, li, p, a, span{
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.5px;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  li {
    font-size: 16px;
  }
  p {
    font-size: 14px!important;
  }
}


/*navbar*/
.clear-pd-mg {
  padding: 0;
  margin: 0;
}

.bg-head {
  background-color: black;
}

.clear-margin {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
}

.logo {
  width: 56%;
  margin-top: 27px;
  margin-bottom: 19px;
}

ul.nav li a {
  padding-top: 72px;
  padding-bottom: 15px;
  color: white!important;
  font-size: 16px;
  font-weight: 300;
  /*font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.5px;*/
}

ul.nav li a:hover {
  color: #9c9c9c!important;
}

@media only screen and (max-width: 767px) {
  .logo {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .navbar-toggle {
    margin-top: 14px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }
}


/*banner*/
.banner {
  background-image: url("../img/gallery1.jpeg");
  background-size: cover;
  height: 800px;
}

.ban-mg {
  margin-top: 120px;
}

.ban-box {
  border: 7px solid white;
  padding: 18px;
  text-align: center;
}

div.ban-box h1 {
  color: white;
  line-height: 100px;
  margin: 0;
  font-size: 60px;
}

div.ban-box span {
  color: yellow;
}

@media only screen and (max-width: 767px) {
  .banner {
    height: 280px;
  }
  .ban-box {
    border: 4px solid white;
    padding: 15px;
    text-align: center;
    margin-right: 100px;
  }
  div.ban-box h1 {
    line-height: 30px;
    margin: 0;
    font-size: 24px;
  }
  .ban-mg {
    margin-top: 50px;
  }
}


/*our project*/
.h-choice {
  margin-top: 70px;
  margin-bottom: 140px;
}

.our-topic {
  padding-bottom: 30px;
  color: #a58f2f;
}

.bg-choice {
  background-color: white;
  padding-bottom: 70px;
}

.choice-box {
  overflow: hidden;
  height: 250px;
  padding-left: 0px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.choice-box2 {
  overflow: hidden;
  height: 250px;
  padding-left: 10px;
  padding-right: 0px;
  margin-bottom: 10px;
}

.choice-box3 {
  overflow: hidden;
  height: 250px;
  padding-left: 0px;
  padding-right: 10px;
}

.choice {
  width: 100%;
}

.green-box {
  background-color: #2c5721;
  text-align: center;
  height: 250px;
}

.lime-box {
  background-color: #867f14;
  text-align: center;
  height: 250px;
}

.brown-box {
  background-color: #6f561c;
  text-align: center;
  height: 250px;
}

div.pro-text h1 {
  padding-top: 83px;
  color: white;
  margin: 0;
  left: 0;
}

@media only screen and (max-width: 767px) {
  .h-choice {
    margin-top: 35px;
    margin-bottom: 90px;
  }

  .our-topic {
    padding-bottom: 10px;
  }

  .choice-box {
    height: 230px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }

  .choice-box2 {
    height: 230px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }

  .choice-box3 {
    height: 230px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .green-box {
    height: 110px;
  }

  .lime-box {
    height: 110px;
  }

  .brown-box {
    height: 110px;
  }

  div.pro-text h1 {
    padding-top: 23px;
  }

  div.h-choice div.row {
    margin-top: 15px;
    /*margin-bottom: 15px;*/
  }
}


/*Gallery*/
.gal-pad {
  margin-top: 70px;
  margin-bottom: 80px;
}

.gal-topic {
  padding-bottom: 30px;
  color: #a58f2f;
}

.bg-gal {
  background-color: #1a1a1a;
}

.gal-pic {
  width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

.carousel-control {
  width: 10%;
}


@media only screen and (max-width: 767px) {
  .gal-pad {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .gal-topic {
    padding-bottom: 20px;
  }
}



/*content*/
.bg-content {
  background-color: #272727;
}

.content-mg {
  margin: 0;
  padding: 0;
}

div.content-mg a {
  color: black;
}

div.content-mg a:hover, a:visited, a:link {
  color: #9c9c9c;
  text-decoration: none;
}

.con-head-mg {
  margin: 0;
}

.chart-mg {
  padding: 0px;
}

.content-r-mg {
  margin-bottom: 10px;
}

.content-h-mg {
  margin: 0px;
}

.crop-chart {
  overflow: hidden;
  width: 100%;
  background-color: #dcdcdc;
  /*border: 2px solid green;*/
}

.chart1 {
  background-color: #9c9c9c;
  width: 50%;
  height: 20px;
}

.chart2 {
  background-color: #9c9c9c;
  width: 10%;
  height: 20px;
}

.chart3 {
  background-color: #9c9c9c;
  width: 80%;
  height: 20px;
}

.chart4 {
  background-color: #9c9c9c;
  width: 25%;
  height: 20px;
}

.chart5 {
  background-color: #9c9c9c;
  width: 45%;
  height: 20px;
}

.chart6 {
  background-color: #9c9c9c;
  width: 100%;
  height: 20px;
}

.content-pd {
  margin-top: 70px;
  margin-bottom: 70px;
}

.crop-content {
  overflow: hidden;
  height: 237px;
}

.crop-progress {
  overflow: hidden;
  background-color: white;
  height: 419px;
  padding-top: 12px;
}

.pic-content {
  width: 100%;
}
.content-box {
  background-color: #1a1a1a;
  padding: 10px 15px 20px 15px;
}

div.content-box h3 {
  color: #a58f2f;
  margin-bottom: 20px;
}

div.content-box p {
  color: white;
}

div.content-pd div h2 {
  color: #a58f2f;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .news-box {
   padding-top: 15px;
   padding-bottom: 20px;
  }
  .content-pd {
    margin-top: 25px;
  }
  .crop-progress {
    height: 450px;
  }
  .crop-content {
    height: 222px;
  }
  div.content-mg p {
    padding-bottom: 5px;
    padding-top: 8px;
  }
  .chart1, .chart2, .chart3, .chart4, .chart5, .chart6 {
    height: 15px;
  }

}

/*contact*/
.contact-pd {
  margin-top: 70px;
  padding-bottom: 50px;
}

.con-topic {
  padding-bottom: 20px;
}

.bg-contact {
  background-color: #1a1a1a;
  color: white;
}

div.con-topic h1 {
  color: #a58f2f;
}

div.address h3 {
  padding-bottom: 15px;
}

div.address ul {
  list-style: none;
  padding-left: 0px;
  font-size: 18px;
}

div.address ul li span {
  margin-right: 15px;
}


div.social h3 {
  padding-bottom: 15px;
}

div.social ul {
  list-style: none;
}

div.social a img {
  width: 50px;
}

.foot {
  border-top: 2px solid white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

div.foot p {
  font-size: 18px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {
  .contact-pd {
    margin-top: 40px;
    padding-bottom: 50px;
  }

  .con-topic {
    padding-bottom: 5px;
  }

  .social {
    padding-top: 20px;
  }
  div.social h3 {
    padding-bottom: 10px;
  }

  div.social a img {
    width: 40px;
  }

  .foot {
    border-top: 1px solid white;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  div.foot p {
    margin-bottom: 0px;
  }
}
