$BgColor-Banner: gray;
$TextColor-Banner: #3c3c3c;
$BorderColor-Banner: darkorange;
$TextColor-Button: white;
$Fontsize-Button: 16px;
$Bg-Button: orange;
$Bg-Button-hover: darkorange;
$PaddingBottom-Heading: 17px;
$MarginTop-Heading: 40px;
$FontSize-Heading: 36px;
$TextColor-Title: darkorange;
$FontSize-Title: 24px;
$TextColor-Paragraph: black;
$TextColor-Paragraph-aboutus: white;
$FontSize-Paragraph: 16px;
$TextColor-Heading-white: white;
$TextColor-A-Hover: gray;
$TextColor-A-link: white;


@mixin button {
  background-color: $Bg-Button;
  color: $TextColor-Button;
  font-size: $Fontsize-Button;
  padding: 7px 20px;
  &:hover {
    background-color: $Bg-Button-hover;
    color: $TextColor-Button;
  }
  &:visited {
    background-color: $Bg-Button-hover;
    color: $TextColor-Button;
  }
  &:link {
    background-color: $Bg-Button-hover;
    color: $TextColor-Button;
  }
}



@mixin a-link {
  &:link {
    color: $TextColor-A-link;
    text-decoration: none;
  }
  &:visited {
    color: $TextColor-A-link;
    text-decoration: none;
  }
  &:hover {
    color: $TextColor-A-Hover;
    text-decoration: none;
  }
  &:active {
    color: $TextColor-A-Hover;
    text-decoration: none;
  }
}





//Class link
a.all-link{
  @include a-link;
}






/** {*/
/*border: dashed 1px rgb(255, 0, 0);*/
/*}*/


/*banner*/
.clear-mg-pd {
  padding: 0;
  margin: 0;
}


.bg-banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  height: 670px;
  .banner-mg {
    margin-top: 45px;
  }
  .banner-text {
    background-color: $TextColor-Banner;
    padding: 20px 20px 20px 20px;
    border: 3px solid $BorderColor-Banner;
    border-radius: 10px;
  }
  h1 {
    line-height: 45px;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: $PaddingBottom-Heading;
    color: $TextColor-Heading-white;
    font-size: $FontSize-Heading;
  }
  button.btn-deco {
    @include button;
    margin-top: 20px;
  }
}





//infomartion
.bg-info {
  background-color: #3a3a3a;
  .info-pad {
    margin-top: $MarginTop-Heading;
    .aboutus {
      h1 {
        color: $TextColor-Heading-white;
        font-size: $FontSize-Heading;
        padding-bottom: $PaddingBottom-Heading
      }
      .info-crop1 {
        overflow: hidden;
        height: 330px;
        .about-us-pic {
          width: 100%;
        }
        p {
          color: $TextColor-Paragraph-aboutus;
          font-size: $FontSize-Paragraph;
          margin-top: 20px;
        }
      }
      button {
        @include button;
        margin-bottom: 90px;
        margin-top: 10px;
      }
    }

    .information {
      h1 {
        color: $TextColor-Heading-white;
        font-size: $FontSize-Heading;
        padding-bottom: $PaddingBottom-Heading
      }
      .info-crop2 {
        overflow: hidden;
        height: 330px;
        ul.info-list {
          padding-left: 0px;
          li {
            margin-bottom: 10px;
            font-size: $FontSize-Paragraph;
          }

        }
      }
      button {
        @include button;
        margin-bottom: 90px;
        margin-top: 10px;
      }
    }

    .event {
      h1 {
        color: $TextColor-Heading-white;
        font-size: $FontSize-Heading;
        padding-bottom: $PaddingBottom-Heading
      }
      .info-crop3 {
        overflow: hidden;
        height: 330px;
        .event-mg {
          margin-bottom: 13px;
        }
        .event-pic {
          width: 108px;
          height: 65px;
        }
        .event-crop {
          overflow: hidden;
          height: 67px;
          p {
            font-size: $FontSize-Paragraph;
          }
        }
      }
      button {
        @include button;
        margin-bottom: 90px;
        margin-top: 10px;
      }
    }
  }
}








/*content*/

div.economy-pad {
  margin-top: $MarginTop-Heading;
  .economy-pic {
    width: 100%;
  }
  h1 {
    padding-bottom: $PaddingBottom-Heading;
    font-size: $FontSize-Heading;
  }
  h3 {
    color: $TextColor-Title;
    font-size: $FontSize-Title;
  }
  p {
    color: $TextColor-Paragraph;
    font-size: $FontSize-Paragraph;
  }
  button.btn-deco {
    @include button;
    margin-bottom: 90px;
    margin-top: 10px;

  }
}






