$Bg-Contact: #3a3a3a;
$TextColor-Heading: white;
$Fontsize-Heading: 36px;
$TextColor-Title: darkorange;
$FontSize-Paragraph: 16px;
$Bg-Footer: #242424;
$TextColor-Footer: white;
$FontSize-Title: 24px;

//Responsive 767
$FontSize-Paragraph-767: 15px;
$FontSize-Title-767: 22px;
$Fontsize-Heading-767: 33px;


/*contact*/
.clear-mg-pd {
  padding: 0px;
  margin: 0px;
}


.bg-contact {
  background-color: $Bg-Contact;
  h1 {
    color: $TextColor-Heading;
    font-size: $Fontsize-Heading;
  }
  div.contact-pad {
    padding-top: 40px;
    padding-bottom: 60px;
    h3 {
      margin-bottom: 20px;
      font-size: $FontSize-Title;
      color: $TextColor-Title;
    }
  }
}


div.address-box {
  h3 {
    color: $TextColor-Title;
    font-size: $FontSize-Title;
  }
  ul.address {
    list-style: none;
    padding-left: 0;
    li {
      color: $TextColor-Footer;
      font-size: $FontSize-Paragraph;
      span {
        margin-right: 15px;
      }
    }
  }
}

div.social-box {
  margin-top: 40px;
  h3 {
    color: $TextColor-Title;
    font-size: $FontSize-Title;
  }
  ul {
    li {
      img {
        width: 40px;
      }
    }
  }
}


div.maps {
  h3{
    color: $TextColor-Title;
    font-size: $FontSize-Title;
  }
  .google-maps {
    position: relative;
    overflow: hidden;
    height: 314px;
    width: 100%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

//Footer
.bg-footer {
  background-color: $Bg-Footer;
  .footer {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    p {
      margin-bottom: 0;
      color: $TextColor-Footer;
      font-size: $FontSize-Paragraph;
    }
  }
}



@media only screen and (max-width: 767px) {
  .bg-contact {
    div.contact-pad {
      padding-top: 40px;
      h1 {
        font-size: $Fontsize-Heading-767;
      }

      .address-box {
        h3 {
          font-size: $FontSize-Title-767;
        }
        ul.address {
          li {
            font-size: $FontSize-Paragraph-767;
          }
        }
      }

      .social-box {
        margin-top: 50px;
        h3 {
          font-size: $FontSize-Title-767;
        }
        ul.address {
          li.social {
            font-size: $FontSize-Paragraph-767;
          }
        }
      }

      .maps {
        margin-top: 50px;
        h3 {
          font-size: $FontSize-Title-767;
        }
      }

    }
  }



  //Footer
  .bg-footer {
    background-color: $Bg-Footer;
    .footer {
      text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
      p {
        margin-bottom: 0;
        color: $TextColor-Footer;
        font-size: $FontSize-Paragraph-767;
      }
    }
  }
}




