$LogoColor: orange;
$NavbarHoverBg: orange;
$Navbarbox-BG: #3a3a3a;
$Navbar-Font: 16px;
$FontSize-Logo: 40px;
$TextColor-NavMenu: white;

//Responsive 767px
$FontSize-Logo-767: 36px;
$NavToggle-Bg-767: orange;
$Nav-Iconbar-767: white;

//Responsive 992px
$FontSize-Logo-992: 30px;
$Navbar-Font-992: 14px;


/*navbar*/
div.logo {
  margin-top: 17px;
  a {
    font-size: $FontSize-Logo;
    color: $LogoColor;
    padding-top: 17px;
    &:hover {
      text-decoration: none;
    }
  }
}

.navbar-box {
  margin: 0px;
  border-radius: 0px;
  background-color: $Navbarbox-BG;
  border: 0px;
  li {
    font-size: $Navbar-Font;
  }
}

div.navbar-collapse {
  ul.navbar-right {
    text-align: right;
  }
  a {
    padding-top: 45px;
    color: $TextColor-NavMenu!important;
    &:hover {
      background-color: $NavbarHoverBg !important;
    }
  }
}


@media only screen and (max-width: 767px) {
  div.logo {
    margin-top: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    button.navbar-toggle {
      &:hover {
        background-color: $NavToggle-Bg-767;
      }
      &:focus {
        background-color: $NavToggle-Bg-767;
      }
      span.icon-bar {
        background-color: $Nav-Iconbar-767;
      }
    }
    a {
      font-size: $FontSize-Logo-767;
    }
  }


  div.navbar-collapse {
    ul.navbar-right {
      text-align: left;
    }
    li.nav-underborder {
      border-bottom: 1px solid gray;
    }
    a {
      padding-top: 25px;
    }
  }
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
  div.logo {
    margin-top: 10px;
    padding-top: 11px;
    padding-bottom: 7px;
    a {
      font-size: $FontSize-Logo-992;
    }
  }

  div.navbar-collapse {
    ul.navbar-right {
      text-align: right;
    }
    a {
      padding-top: 38px;
      font-size: $Navbar-Font-992;
    }
  }
}



//@media only screen and (max-width: 992px) {
//  div.logo {
//    margin-top: 10px;
//    padding-top: 11px;
//    padding-bottom: 7px;
//    a {
//      font-size: $FontSize-Logo-992;
//    }
//  }
//
//  div.navbar-collapse {
//    ul.navbar-right {
//      text-align: right;
//    }
//    a {
//      padding-top: 38px;
//      font-size: $Navbar-Font-992;
//    }
//  }
//}