$HeadTextColor: darkorange;
$TextColor-Button: white;
$Fontsize-Button: 16px;
$Bg-Button:orange;
$Bg-Button-hover:darkorange;
$FontSize-Form: 15px;
$TextColor-Agree: #2474ff;


/** {*/
/*border: dashed 1px rgb(255, 0, 0);*/
/*}*/

/*form*/
.regist_pad {
  margin-top: 60px;
  margin-bottom: 110px;
  .regist-topic {
    margin-bottom: 40px;
    h3 {
      color: $HeadTextColor;
    }
  }
  div.form-group{
    label {
      font-size: $FontSize-Form;
    }
    .control-label {
      text-align: left;
    }
    input.form-control {
      height: 35px;
      font-size: $FontSize-Form;
    }
  }
}


div.checkbox {
  label {
    color: $TextColor-Agree;
  }
}

div.form-group {
  button.btn-deco {
    background-color: $Bg-Button;
    color: $TextColor-Button;
    margin-top: 20px;
    padding: 7px 20px;
    font-size: $Fontsize-Button;
    &:hover {
      background-color: $Bg-Button-hover;
      color: $TextColor-Button;
    }
  }
}



@media only screen and (max-width: 767px) {
  .regist_pad {
    margin-top: 30px;
    margin-bottom: 60px;
    .regist-topic {
      margin-bottom: 30px;
    }
    .date-mg {
      margin-top: 15px;
    }

  }
}




